<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-user></app-user>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</div>
<div>
  <router-outlet></router-outlet>
</div>
