<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Raison du refus</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p *ngIf="auth.session.role != 'admin'">{{chosen.raison}}</p>
        <textarea *ngIf="auth.session.role == 'admin'" class="form-control" [(ngModel)]="chosen.raison" type="text"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="refuse()" ><i class="fa fa-save"></i> Refuser</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
<div id="container" class="container">
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Status</th>
      <th scope="col">Adresse</th>
      <th scope="col">Batiment</th>
      <th scope="col">Orientation</th>
      <th scope="col">Photo</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of interventions">
      <th scope="row">{{i.id}}</th>
      <td>{{i.etat}}</td>
      <td *ngIf="canBeModified(i.etat)">
        <input class="form-control" [(ngModel)]="i.adress" type="text"/>
      </td>
      <td *ngIf="!canBeModified(i.etat)">{{i.adress}}</td>
      <td *ngIf="canBeModified(i.etat)">
        <input class="form-control" [(ngModel)]="i.bat" type="text"/>
      </td>
      <td *ngIf="!canBeModified(i.etat)">{{i.bat}}</td>
      <td *ngIf="canBeModified(i.etat)">
        <select class="form-control col-sm-6" [(ngModel)]="i.orientation">
          <option *ngFor="let item of orientations" [value]="item">{{item}}</option>
        </select>
      </td>
      <td *ngIf="!canBeModified(i.etat)">{{i.orientation}}</td>
      <td><a href={{i.photo}}><img src="{{i.photo}}" class="media-object" style="height:32px" /></a></td>
      <td *ngIf="auth.session.role == 'admin'" >
        <button class="btn btn-success mr-2"  *ngIf="i.etat == 'en attente'" (click)="validate(i)"><i class="fa fa-check"></i></button>
        <button class="btn btn-danger mr-2" *ngIf="i.etat == 'en attente'" data-toggle="modal" data-target="#exampleModal" (click)="openModal(i)"> <i class="fa fa-times"></i></button>
        <button class="btn btn-warning mr-2" *ngIf="i.etat == 'en cours'" (click)="end(i)"><i class="fas fa-check-double"></i></button>
      </td>
      <td *ngIf="auth.session.role != 'admin' && canBeModified(i.etat)">
        <button class="btn btn-primary" (click)="save(i)">Save</button>
      </td>
      <td *ngIf="auth.session.role != 'admin' && canBeReAsk(i.etat)">
        <button class="btn btn-warning" (click)="openModal(i)" data-toggle="modal" data-target="#exampleModal">Voir raison</button>
        <button class="btn btn-primary" (click)="reAsk(i)">Retry</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
