<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">BOB Le Bricoleur</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="!auth.session">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item" *ngIf="!auth.session">
        <a class="nav-link" routerLink="register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="intervention">Create Intervention</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="intervention/list">My Interventions</a>
      </li>
      <li class="nav-item" *ngIf="auth.session && auth.session.role == 'admin'">
        <a class="nav-link" routerLink="agenda">My agenda</a>
      </li>
    </ul>
  </div>
  <!-- <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> -->
    <form *ngIf="auth.session" class="form-inline my-2 my-lg-0" (ngSubmit)="logout()">
      <label for="logout">  Welcome {{ auth.session.email }}</label>
      <button id="logout" class="btn btn-link my-2 my-sm-0">Logout</button>
    </form>
    <form *ngIf="!auth.session" class="form-inline my-2 my-lg-0">
      <i> You are not authentified </i>
    </form>
</nav>
