<style>
  .row-striped:nth-of-type(odd){
    background-color: rgba(143, 226, 255, 0.52);
  }

  .row-striped:nth-of-type(even){
    background-color: #ffffff;
  }
</style>

<div class="container">
  <div class="row row-striped border border-secondary" style="margin-top: 5px" *ngFor="let ev of events">
    <div class="col-sm-2">
      <h1 class="display-4"><span class="badge badge-primary">{{ev.startDay}}</span></h1>
      <h2>{{ev.month}}</h2>
    </div>
    <div class="col-sm-10" style="margin-top: 5px">
      <h3 class="text-uppercase"><strong>Intervention #{{ev.id}} - Etat: {{ev.Ticket.etat}}</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ev.day}}</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ev.startHour}} - {{ev.endHour}}</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Batiment: {{ev.Ticket.bat}} - {{ev.Ticket.orientation}}</li>
      </ul>
      <p>{{ev.Ticket.adress}}</p>
    </div>
  </div>
</div>
