
  <div id="container" class="container" style="margin-top: 1%">
  <h2>Create intervention</h2>
    <form name="form"  class="form-horizontal" (ngSubmit)="f.form.valid && create()" #f="ngForm" novalidate style="margin-top: 2%">
    <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !bat.valid }">
      <label for="bat" class="col-sm-2">Batiment</label>
      <input type="text" class="form-control col-sm-6" id="bat" name="bat" [(ngModel)]="model.bat" #bat="ngModel" required />
      <div *ngIf="f.submitted && !bat.valid" class="help-block">Batiment is required</div>
    </div>
    <div class="form-group row">
      <label for="adress"  class="col-sm-2">Adress</label>
      <input type="text" class="form-control col-sm-6" id="adress" name="adress"[(ngModel)]="model.adress" #adress="ngModel" required />
      <div *ngIf="f.submitted && !adress.valid" class="help-block">Adress is required</div>
    </div>
    <div class="form-group row" [ngClass]="{ 'has-error': f.submitted && !orientation.valid }">
      <label for="orientation" class="col-sm-2">Orientation</label>
      <select id="orientation" name="orientation" class="form-control col-sm-6" [(ngModel)]="model.orientation" #orientation="ngModel">
        <option *ngFor="let item of orientations" [value]="item">{{item}}</option>
      </select>
    </div>
    <div class="form-group row">
      <label for="file" class="col-sm-2">Photo</label>
      <input id="file" type="file" class="form-control col-sm-6" (change)="onSelectedFile($event)" />
    </div>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <button class="btn btn-success" style="margin-right: 10px;"><i class="fa fa-check"></i> Ask intervention</button>
      <a [routerLink]="['/login']" class="btn btn-danger">Cancel</a>
    </div>
  </form>
</div>

